$primary-green: #28a745;

.container {
  margin: 20px 40px;
}

.form_container {
  display: grid;
  grid-template-columns: 5fr 3fr 2fr;
  grid-column-gap: 50px;
}

.ctas {
  margin: 10px auto;
}

.cta {
  padding: 12px 30px;
  font-size: 0.8vw;
  font-weight: 600;
  background: none;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.selected {
  background: $primary-green;
  color: white;
}

.sidehead {
  display: block;
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: 30px;
}

.shippingform {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1.5vw;
  grid-row-gap: 1vw;

  input {
    display: inline-block;
    width: 250px;
    border: 0.5px solid rgba(0, 0, 0, 0.486);
    border-radius: 50px;
    padding: 0.9vw;
    font-size: 0.8vw;
    font-weight: 600;
    outline: none;
  }
}

.payanddel {
  width: 100%;
  max-width: 360px;

  h3 {
    font-weight: 400;
    font-size: 1rem;
    margin: 20px auto;
  }

  .payment,
  .delivery {
    width: auto;
    display: grid;

    label {
      input[type="radio"] {
        display: none;
      }

      .radiobtn {
        outline: 1px solid rgba(0, 0, 0, 0.322);
        overflow: hidden;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: outline 0.2s linear;

        &:hover {
          cursor: pointer;
        }
      }

      input[type="radio"]:checked ~ .radiobtn {
        outline: 2px solid red;
      }
    }
  }

  .payment {
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 5px;

    .radiobtn {
      display: inline-block;
      width: 110px;
      height: 40px;
      border-radius: 50px;
    }
  }

  .delivery {
    grid-template-columns: repeat(2, auto);
    grid-gap: 7px;

    .radiobtn {
      width: 170px;
      height: 55px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;

      div {
        width: 50%;
        height: 100%;
        font-size: 1.1rem;
        z-index: 10;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}
